form.form-class {
    display: inline-block;
    padding-top: 20px;
}

.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 5px 0 0;
}

.error input[type=text] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
  font-weight: 500;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

input[type=email].error, input[type=text].error, input[type=password].error, .data-source-select.error {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

input[type=email], input[type=text], input[type=password], .data-source-select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.profile-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button.submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button.submit-button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.error {
  color: red;
}

@media screen and (min-width: 600px) {
  form .container{
    width: 400px;
  }
}
  
